## Open config file and metadata

An example to load a configuration file and a metadata file

In [1]:
%load_ext autoreload
%autoreload 2
from paidiverpy import Paidiverpy
from paidiverpy.config.config import Configuration
from paidiverpy.metadata_parser import MetadataParser
from paidiverpy.open_layer import OpenLayer

## Using paidiverpy class

In [2]:
# Instantiate the class
# You may need to change the parameters on the config_simple.yaml file for the correct paths on your computer
paidiver = Paidiverpy(config_file_path="../config_files/config_simple.yaml")

In [3]:
# See the type of config
type(paidiver.config)

paidiverpy.config.config.Configuration

In [4]:
# Print config as json
paidiver.config

{
    "general": {
        "name": "raw",
        "step_name": "open",
        "input_path": "/home/tobfer/.paidiverpy_cache/benthic_csv/images",
        "metadata_path": "/home/tobfer/.paidiverpy_cache/benthic_csv/metadata/metadata_benthic_csv.csv",
        "metadata_type": "CSV_FILE",
        "image_type": "PNG",
        "append_data_to_metadata": "/home/tobfer/.paidiverpy_cache/benthic_csv/metadata/appended_metadata_benthic_csv.csv",
        "output_path": "output",
        "n_jobs": 1,
        "rename": "datetime",
        "sampling": [
            {
                "name": "sampling",
                "step_name": "sampling",
                "mode": "percent",
                "test": false,
                "params": {
                    "value": 0.1
                }
            }
        ],
        "convert": [
            {
                "name": "convert",
                "step_name": "convert",
                "mode": "bits",
                "test": false,
                "params": {
                    "output_bits": 8
                }
            },
            {
                "name": "convert",
                "step_name": "convert",
                "mode": "to",
                "test": false,
                "params": {
                    "to": "gray",
                    "channel_selector": 0
                }
            }
        ]
    },
    "steps": []
}

In [5]:
# See metadata information
paidiver.get_metadata()

,ID,image-filename,XResolution,YResolution,ExposureTime,FNumber,ISO,image-datetime,MaxApertureValue,WhiteBalance,...,speed_of_sound_m_s,temperature_c,positioning_ok,attitude_ok,depth_ok,altitude_ok,X,phototime,flag,point
0,430,20180611041421.png,300,300,0.016667,8,200,2018-06-11 04:14:21,2.828427,FLASH,...,1545.388,1.5059,1,1,1,1,NaN,2018-06-11 04:14:21,0,POINT (-153.60531587 11.25172554)
1,431,20180611041431.png,300,300,0.016667,8,200,2018-06-11 04:14:31,2.828427,FLASH,...,1545.447,1.5236,1,1,1,1,NaN,2018-06-11 04:14:31,0,POINT (-153.60531372 11.25171832)
2,432,20180611041441.png,300,300,0.016667,8,200,2018-06-11 04:14:41,2.828427,FLASH,...,1545.452,1.5234,1,1,1,1,NaN,2018-06-11 04:14:41,0,POINT (-153.60531259 11.2517135)
3,433,20180611041451.png,300,300,0.016667,8,200,2018-06-11 04:14:51,2.828427,FLASH,...,1545.363,1.4911,1,1,1,1,NaN,2018-06-11 04:14:51,0,POINT (-153.60531313 11.25170837)
4,434,20180611041501.png,300,300,0.016667,8,200,2018-06-11 04:15:01,2.828427,FLASH,...,1545.324,1.4747,1,1,1,1,NaN,2018-06-11 04:15:01,0,POINT (-153.60531414 11.25170299)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,525,20180611043011.png,300,300,0.016667,8,200,2018-06-11 04:30:11,2.828427,FLASH,...,1545.066,1.4317,1,1,1,1,NaN,2018-06-11 04:30:11,0,POINT (-153.60449404 11.25151183)
96,526,20180611043021.png,300,300,0.016667,8,200,2018-06-11 04:30:21,2.828427,FLASH,...,1545.065,1.4311,1,1,1,1,NaN,2018-06-11 04:30:21,0,POINT (-153.60448659 11.25151015)
97,527,20180611043031.png,300,300,0.016667,8,200,2018-06-11 04:30:31,2.828427,FLASH,...,1545.066,1.4317,1,1,1,1,NaN,2018-06-11 04:30:31,0,POINT (-153.60447568 11.25150874)
98,528,20180611043041.png,300,300,0.016667,8,200,2018-06-11 04:30:41,2.828427,FLASH,...,1545.067,1.4320,1,1,1,1,NaN,2018-06-11 04:30:41,0,POINT (-153.60446358 11.2515081)
99,529,20180611043051.png,300,300,0.016667,8,200,2018-06-11 04:30:51,2.828427,FLASH,...,1545.063,1.4309,1,1,1,1,NaN,2018-06-11 04:30:51,0,POINT (-153.60445029 11.25150777)

## Using other processing classes, like OpenLayer

In [6]:
open_layer = OpenLayer(config_file_path="../config_files/config_simple.yaml")

In [7]:
# Print config as json
open_layer.config

{
    "general": {
        "name": "raw",
        "step_name": "open",
        "input_path": "/home/tobfer/.paidiverpy_cache/benthic_csv/images",
        "metadata_path": "/home/tobfer/.paidiverpy_cache/benthic_csv/metadata/metadata_benthic_csv.csv",
        "metadata_type": "CSV_FILE",
        "image_type": "PNG",
        "append_data_to_metadata": "/home/tobfer/.paidiverpy_cache/benthic_csv/metadata/appended_metadata_benthic_csv.csv",
        "output_path": "output",
        "n_jobs": 1,
        "rename": "datetime",
        "sampling": [
            {
                "name": "sampling",
                "step_name": "sampling",
                "mode": "percent",
                "test": false,
                "params": {
                    "value": 0.1
                }
            }
        ],
        "convert": [
            {
                "name": "convert",
                "step_name": "convert",
                "mode": "bits",
                "test": false,
                "params": {
                    "output_bits": 8
                }
            },
            {
                "name": "convert",
                "step_name": "convert",
                "mode": "to",
                "test": false,
                "params": {
                    "to": "gray",
                    "channel_selector": 0
                }
            }
        ]
    },
    "steps": []
}

In [8]:
# See metadata information
# The metadata in this case may have more information because the
# openlayer class extracts the exif information from the files
open_layer.get_metadata()

,ID,image-filename,XResolution,YResolution,ExposureTime,FNumber,ISO,image-datetime,MaxApertureValue,WhiteBalance,...,speed_of_sound_m_s,temperature_c,positioning_ok,attitude_ok,depth_ok,altitude_ok,X,phototime,flag,point
0,430,20180611041421.png,300,300,0.016667,8,200,2018-06-11 04:14:21,2.828427,FLASH,...,1545.388,1.5059,1,1,1,1,NaN,2018-06-11 04:14:21,0,POINT (-153.60531587 11.25172554)
1,431,20180611041431.png,300,300,0.016667,8,200,2018-06-11 04:14:31,2.828427,FLASH,...,1545.447,1.5236,1,1,1,1,NaN,2018-06-11 04:14:31,0,POINT (-153.60531372 11.25171832)
2,432,20180611041441.png,300,300,0.016667,8,200,2018-06-11 04:14:41,2.828427,FLASH,...,1545.452,1.5234,1,1,1,1,NaN,2018-06-11 04:14:41,0,POINT (-153.60531259 11.2517135)
3,433,20180611041451.png,300,300,0.016667,8,200,2018-06-11 04:14:51,2.828427,FLASH,...,1545.363,1.4911,1,1,1,1,NaN,2018-06-11 04:14:51,0,POINT (-153.60531313 11.25170837)
4,434,20180611041501.png,300,300,0.016667,8,200,2018-06-11 04:15:01,2.828427,FLASH,...,1545.324,1.4747,1,1,1,1,NaN,2018-06-11 04:15:01,0,POINT (-153.60531414 11.25170299)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,525,20180611043011.png,300,300,0.016667,8,200,2018-06-11 04:30:11,2.828427,FLASH,...,1545.066,1.4317,1,1,1,1,NaN,2018-06-11 04:30:11,0,POINT (-153.60449404 11.25151183)
96,526,20180611043021.png,300,300,0.016667,8,200,2018-06-11 04:30:21,2.828427,FLASH,...,1545.065,1.4311,1,1,1,1,NaN,2018-06-11 04:30:21,0,POINT (-153.60448659 11.25151015)
97,527,20180611043031.png,300,300,0.016667,8,200,2018-06-11 04:30:31,2.828427,FLASH,...,1545.066,1.4317,1,1,1,1,NaN,2018-06-11 04:30:31,0,POINT (-153.60447568 11.25150874)
98,528,20180611043041.png,300,300,0.016667,8,200,2018-06-11 04:30:41,2.828427,FLASH,...,1545.067,1.4320,1,1,1,1,NaN,2018-06-11 04:30:41,0,POINT (-153.60446358 11.2515081)
99,529,20180611043051.png,300,300,0.016667,8,200,2018-06-11 04:30:51,2.828427,FLASH,...,1545.063,1.4309,1,1,1,1,NaN,2018-06-11 04:30:51,0,POINT (-153.60445029 11.25150777)

## Using configuration parsing

In [9]:
config = Configuration(config_file_path="../config_files/config_simple.yaml")
config

{
    "general": {
        "name": "raw",
        "step_name": "open",
        "input_path": "/home/tobfer/.paidiverpy_cache/benthic_csv/images",
        "metadata_path": "/home/tobfer/.paidiverpy_cache/benthic_csv/metadata/metadata_benthic_csv.csv",
        "metadata_type": "CSV_FILE",
        "image_type": "PNG",
        "append_data_to_metadata": "/home/tobfer/.paidiverpy_cache/benthic_csv/metadata/appended_metadata_benthic_csv.csv",
        "output_path": "output",
        "n_jobs": null,
        "rename": "datetime",
        "sampling": [
            {
                "name": "sampling",
                "step_name": "sampling",
                "mode": "percent",
                "test": false,
                "params": {
                    "value": 0.1
                }
            }
        ],
        "convert": [
            {
                "name": "convert",
                "step_name": "convert",
                "mode": "bits",
                "test": false,
                "params": {
                    "output_bits": 8
                }
            },
            {
                "name": "convert",
                "step_name": "convert",
                "mode": "to",
                "test": false,
                "params": {
                    "to": "gray",
                    "channel_selector": 0
                }
            }
        ]
    },
    "steps": []
}


In this case, yu will not have access to the metadata, as it was not parsed yet

# Parse only the metadata

In [10]:
# You need to pass the configuration file
metadata = MetadataParser(config=config)
metadata

,ID,image-filename,XResolution,YResolution,ExposureTime,FNumber,ISO,image-datetime,MaxApertureValue,WhiteBalance,...,speed_of_sound_m_s,temperature_c,positioning_ok,attitude_ok,depth_ok,altitude_ok,X,phototime,flag,point
0,430,20180611041421.png,300,300,0.016667,8,200,2018-06-11 04:14:21,2.828427,FLASH,...,1545.388,1.5059,1,1,1,1,NaN,2018-06-11 04:14:21,0,POINT (-153.60531587 11.25172554)
1,431,20180611041431.png,300,300,0.016667,8,200,2018-06-11 04:14:31,2.828427,FLASH,...,1545.447,1.5236,1,1,1,1,NaN,2018-06-11 04:14:31,0,POINT (-153.60531372 11.25171832)
2,432,20180611041441.png,300,300,0.016667,8,200,2018-06-11 04:14:41,2.828427,FLASH,...,1545.452,1.5234,1,1,1,1,NaN,2018-06-11 04:14:41,0,POINT (-153.60531259 11.2517135)
3,433,20180611041451.png,300,300,0.016667,8,200,2018-06-11 04:14:51,2.828427,FLASH,...,1545.363,1.4911,1,1,1,1,NaN,2018-06-11 04:14:51,0,POINT (-153.60531313 11.25170837)
4,434,20180611041501.png,300,300,0.016667,8,200,2018-06-11 04:15:01,2.828427,FLASH,...,1545.324,1.4747,1,1,1,1,NaN,2018-06-11 04:15:01,0,POINT (-153.60531414 11.25170299)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,525,20180611043011.png,300,300,0.016667,8,200,2018-06-11 04:30:11,2.828427,FLASH,...,1545.066,1.4317,1,1,1,1,NaN,2018-06-11 04:30:11,0,POINT (-153.60449404 11.25151183)
96,526,20180611043021.png,300,300,0.016667,8,200,2018-06-11 04:30:21,2.828427,FLASH,...,1545.065,1.4311,1,1,1,1,NaN,2018-06-11 04:30:21,0,POINT (-153.60448659 11.25151015)
97,527,20180611043031.png,300,300,0.016667,8,200,2018-06-11 04:30:31,2.828427,FLASH,...,1545.066,1.4317,1,1,1,1,NaN,2018-06-11 04:30:31,0,POINT (-153.60447568 11.25150874)
98,528,20180611043041.png,300,300,0.016667,8,200,2018-06-11 04:30:41,2.828427,FLASH,...,1545.067,1.4320,1,1,1,1,NaN,2018-06-11 04:30:41,0,POINT (-153.60446358 11.2515081)
99,529,20180611043051.png,300,300,0.016667,8,200,2018-06-11 04:30:51,2.828427,FLASH,...,1545.063,1.4309,1,1,1,1,NaN,2018-06-11 04:30:51,0,POINT (-153.60445029 11.25150777)